<h1>SOBRE MI</h1>

<h3>Datos Personales del alumno</h3>
<p>Nombre: Iara Spinelli</p>
<p>DNI: 40.677.296</p>
<p>Legajo: 114265</p>
<img src=".\components\quien-soy\iaraspinelli.jpeg" alt="Iara Spinelli" width="200" height="200">

<h3>Explicación del juego propio</h3>
<p>Nombre del juego: Cálculo veloz</p>
<p>El juego creará y mostrará al usuario operaciones matemáticas de manera aleatoria.
    Se debe resolver la operación y escribir el resultado en un input, antes de que se acabe el tiempo.
    Cada vez que el usuario responda correctamente, se le sumara puntos.
    Si el usuario responde incorrectamente, se le restará una vida.
    Cada usuario tiene 3 vidas. Si las vidas se acaban, el juego termina y se mostrará la cantidad de puntos obtenidos.
</p>